---
import Layout from "../layouts/Layout.astro";

import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../icons/BriefCase.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
---


<Layout
	title="Portafolio | Nestor Davalos - Desarrollador y Programador Web con 5 años de experiencia"
	description="Contrata a Nestor Davalos para crear tus aplicaciones web, especializado en crear aplicaciones únicas"
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img
				class="rounded-full size-32 mb-5"
				src="/assets/Nestor-Basave-Davalos.jpg"
				alt="Nestor photo"
			/>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hey, Soy Nestor
				<div class="flex justify-center items-center">
					<a
						href="https://www.linkedin.com/in/nestor-daniel-basave-davalos-b12b34295/"
						target="_blank"
						rel="noopener"
						class="flex justify-center items-center"
					>
						<Badge>Disponible para trabajar</Badge>
					</a>
				</div>
			</h1>
			<h2 class="text-2xl text-wrap max-w-[700px]">
				<span class="">+5 años de experiencia. </span>
				<span class="text-yellow-200/90">Desarollador Web,</span>
				<span class="text-red-200/90">de Guadalajara, Jalisco.</span>
				<span class="opacity-75"
					>Especializado en crear Aplicaciones Web Únicas</span
				>
			</h2>

			<nav class="flex flex-wrap gap-2 mt-8">
				<SocialPill
					href="https://www.linkedin.com/in/nestor-daniel-basave-davalos-b12b34295/"
				>
					<LinkedInIcon class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/ness1stev2">
					<GitHubIcon class="size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:nestor1steven2@gmail.com">
					<MailIcon class="size-6" />
					nestor1steven2@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefCase class="size-10" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos" class="mt-40">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-10" />
				Proyectos
			</h2>

			

			<Projects />
		</SectionContainer>
	</main>
</Layout>
